html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
	background-image: url('../images/background.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
	padding: 0vw 0vw 20vw 0vw;
}
.aboveBackground{
	background:url('../images/AboveDivider.svg');
	display: flex;
	background-repeat:no-repeat;
	padding: 5vw 0px;
}

.MainContent{
	padding: 0vw 10vw;
}
.DataTableContainer{
	overflow-x:auto;
	width:100%;
	position:relative;
	z-index:10;
	margin-top:1vw;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
}
table.dataTable tbody tr{
	background-color: rgba(255, 255, 255, 0.8);
}
.DataTableInner{
	padding:0px;
}
.TableHeading{
	color:white;
}
.dataTables_info{
	color:white!important;
}
.paginate_button.active{
	background-color: #333 !important;

}
#table_previous a{
	color:white!important;
	text-decoration: none !important;
}
#table_next a{
	color:white!important;
	text-decoration: none !important;
}
.paginate_button a{
	color:white!important;
	text-decoration: none !important;
}
.DataTableContainer label{
	color:white;
}
.TableAlignment{
	vertical-align:middle!important;
	text-align: center;
	
}
.TableAlignment.Title{
	word-wrap: break-word; 
	min-width: 200px;
	text-align: left;
}
.TableAlignment.Date{
	word-wrap: break-word; 
	min-width: 100px;
}
.TableAlignment.Button{
	padding: 12px 0px;
}



.bg-dark{
	background:#202425!important;
}
.row{
	width:100%;
	margin: 0px!important;
}
.col-md-12{
	padding: 0px!important;
}
.modal-content{
	background-color: rgba(255, 255, 255, 0.8);
}


.clock{
	margin: auto;
}
.UpperOption{
	position: inherit;
}
.InputFullWidth{
	width: 100%;
	position: absolute;

}
.InputCenter{
	text-align: center;
}
.InputCMS{
	margin:20px 0px;
}


.BelowDivider{
	background-image: url('../images/BelowDivider.svg');
	padding: 4vw 0px; 
	background-repeat:no-repeat; 
	background-size: cover;
	width:100%;
}
footer {
  bottom: 0;
  width: 100%;
  color: #fff;
}
.FooterCopyright{
	background: #151515;
	color:white;
	padding: 1vw 0px;
	text-align: center;
}
.FooterWidgetContainer{
	padding: 50px 0px;
	
}
.FooterColor{
	padding: 3vw 0px;
	background-color:#202425;
	color:white;
}

@media only screen and (min-width: 3840px){
	footer{
		position: absolute;
	}
}
@media only screen and (max-width:1280px){
	.MainContent{
		padding: 0vw 5vw;
	}
	.TableAlignment.Simplified{
		display: none;
	}
}
@media only screen and (max-width:600px){
	.TableAlignment.Simplified{
		display: none;
	}
	.TableAlignment.ExtraSimplified{
		display: none;
	}
	#table_previous a{
		display: none;
	}
	#table_next a{
		display: none;
	}
}
@media only screen and (max-width:375px){
	.wrapper{
		padding-bottom: 0px;
	}
	.MainContent{
		padding: 0vw 5vw;
		margin: 0vw 0vw 0vw 0vw;
	}
	.TableAlignment.Simplified{
		display: none;
	}
	.TableAlignment.ExtraSimplified{
		display: none;
	}
	#table_previous a{
		display: none;
	}
	#table_next a{
		display: none;
	}
	.FooterColor{
		padding: 10vw 0vw;
	}
	.FooterCopyright{
		font-size:12px;
	}
}